    <div class="row"> 
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoperfil">
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h1>Clara M. Vallejos</h1>
            <h6 aligne="center">Full Stack Developer Jr.</h6>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <span>
                <h2>Acerca de mi</h2>
                <p>Estudiante de Desarrollo de Software 
                con muchas ganas de seguir aprendiendo.
                </p>
            </span>
        </div>
    </div>
