    <div class="row"> 
        <div class="col-xs-12">
            <img src="../../../assets/perfil.jpg" id="fotoperfil" >
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding-top: 40px">
            <h1>Clara M. Vallejos</h1>
            <h6 aligne="center">Full Stack Developer Jr.</h6>
        </div>
    </div>
        <div class="row">
        <div class="col-lg-3">
                <h2>Acerca </h2>
                <h2>de mi</h2>
        </div>
        <div class="col-lg-9">
        <p> Estudiante de Desarrollo de Software 
            con muchas ganas de khkjhkjhxkdvhkjzvjzbdfvbzjbf
            </p>
        </div>
    </div>
